## Practice Tasks

In [2]:
import pandas as pd
# Load data
reviews_df = pd.read_csv('../data/wine-reviews/winemag-data-130k-v2.csv')

In [27]:
# Task: Who are the most common wine reviewers
# Create a Series whose index is the 'taster_twitter_handle;
# whose values count how many reviews easch person wrote
reviews_written = pd.Series(reviews_df.value_counts(['taster_twitter_handle']))
reviews_written

taster_twitter_handle
@vossroger               25514
@wineschach              15134
@kerinokeefe             10776
@vboone                   9537
@paulgwine                9532
@mattkettmann             6332
@JoeCz                    5147
@wawinereport             4966
@gordone_cellars          4177
@AnneInVino               3685
@laurbuzz                 1835
@suskostrzewa             1085
@worldwineguys            1005
@bkfiona                    27
@winewchristina              6
Name: count, dtype: int64

In [29]:
# Task: What is the best wine I can buy for a given amount of money?
# Create a Series whose index is the wine price and whose values are the max number of points
# a wine costing that much was given in a review
# Sort the series by price, ascending ($4 at top)
best_rating = pd.Series(reviews_df.groupby('price')['points'].max().sort_index(ascending=True))

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [57]:
# Task: What are the minimum and maximum prices for each variety of wine?
# Create a DataFrame whose index is 'variety' and whose values are min and max values
price_ends = reviews_df.groupby(['variety']).price.agg(["min","max"])
price_ends

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [64]:
# Task: What are the most expensive wine varieties?
# Create a variable 'sorted_varieties' containing a copy 
# of the DataFrame from the previous task.
sorted_varieties = price_ends.sort_values(by=['min','max'],ascending=False)
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [75]:
# Task: Create a Seeries whose index is 'reviewers' and whose 
# values are the average review score given by the reviewer.
# Hint: you need 'taster_name' and 'points'
average_review = pd.Series(reviews_df.groupby(['taster_name']).points.mean()).sort_values(ascending=False)
average_review

taster_name
Anne Krebiehl MW      90.562551
Matt Kettmann         90.008686
Virginie Boone        89.213379
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Kerin O’Keefe         88.867947
Sean P. Sullivan      88.755739
Roger Voss            88.708003
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Anna Lee C. Iijima    88.415629
Jeff Jenssen          88.319756
Christina Pickard     87.833333
Lauren Buzzeo         87.739510
Michael Schachner     86.907493
Fiona Adams           86.888889
Susan Kostrzewa       86.609217
Carrie Dykes          86.395683
Alexander Peartree    85.855422
Name: points, dtype: float64